################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolSaas/FileContentIndex/1e251573-a71f-49f9-958e-da06e92fad83.vsidx
/.vs/
