<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        table {
            margin: auto;
            text-align: center;
            font-family: arial, sans-serif;
        }

        .table-Section {
            font-family: arial, sans-serif;
            border-radius: 8px;
            width: 100%;
            border: 1.5px solid #D9D9D9;
            text-align: left;
        }

        td,
        th {
            padding: 10px 0px 10px 20px;
        }

        .link-button {
            border: 0;
            padding: 13px 70px;
            line-height: 1.5;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
            color: #fff;
        }

        .remove-link {
            text-decoration: none;
        }

        .ShortButton {
            border: 0;
            padding: 5px 5px;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
            color: #fff;
        }

        .accept-link {
            color: #fff;
            background-color: #0075F8;
        }


        .refuse-link {
            color: #fff;
            background-color: #FF2A8E;
        }

        .warning-link {
            color: #fff;
            background-color: #FFD100;
        }

        .FillQuestion-link {
            color: #fff;
            background-color: #88421D;
        }

        .Color-FirstTitle {
            color: #43433D;
            font-size: 20px;
        }

        .Color-SecondTitle {
            color: #292724;
            font-weight: 900;
        }

        .Color-ThirdTitle {
            color: #43433D;
            font-weight: 700;
        }

        .textColor {
            color: #666666;
        }

    </style>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="background-color: #fff; margin: 0 !important; padding: 0 !important;">
    @RenderBody()
</body>
</html>