@using SchoolSaas.Application.Common.Models
@model TemplateViewModel<PasswordResetEmailDTO>

<p>Bonjour,</p>
<p>
    Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :
    <a href="@Model.Data.ResetLink">Réinitialiser mon mot de passe</a>
</p>
<p>
    Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet e-mail.
</p>
<p>
    Merci,
    <br />
    L'équipe EConsulatMA Algo
</p>
