@using ACG.MAEC.EConsulatMA.Core.Application.Identity.DataTransferObjects
@model TemplateViewModel<UserResetDto>

<p>
    Dear @Model.Data.FirstName @Model.Data.LastName, <br /> We have received a request to reset your password for your account with us. 
    Here is the password : @Model.Data.Password
    <br /> <a href="">Click here</a> <br />
</p>